{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>job application 4</title>
    <script src="{% static 'js/job.js' %}"></script>
   

<style>
.submit {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 450%;
  margin-top: 46%;
  margin-bottom: 50px;
  background-color: #04AA6D;
}
.reset{
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 700%;
  margin-top: 46%;
  margin-bottom: 50px;
  background-color: #04AA6D;

}
td{
    padding: 10px;
    /* border-spacing: 50px; */

}
h1{
    text-align: center;
    justify-content: center;
    color:brown;
}
</style>
</head>

<body>
    <h1>Job application form 4</h1>
    <form method="POST" id="form">
        <center>
            <div class="basicdetatilsdiv" id="basicdetatilsdiv">
                <fieldset style="width: 50%;">
                    <legend><b>Basic Details</b></legend>
                    <table class="table">
                        <tr>
                            <td>
                                <label for="fname" class="fname">First Name</label>
                                {{form.first_name}}

                            </td>
                            <td>
                                <label for="lname" class="lname">Last Name</label>
                                {{form.last_name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="address1" class="address1">Address1</label>
                                {{form.address1}}

                            </td>
                            <td>
                                <label for="address2" class="address2">Address2</label>
                                {{form.address2}}

                            </td>
                        </tr>   
                        <tr>
                            <td>
                                <label for="gender" class="gender" name="gender">Gender:</label>
                                {{form.gender}}

                            </td>
                            <td> 
                                <label for="designation">designation:</label>
                                {{form.designation}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email"  class="email">Email:</label>
                                {{form.email}}
                                
                            </td>
                            <td>
                                <label for="city" class="city">city:</label>
                                {{form.city}}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="states">state:</label>
                                {{form.state}}

                            </td>
                            <td>
                                <label for="DateOfBirth">DateOfBirth:</label>
                                {{form.birthday}}

                            </td>
                            <td>
                                <label for="phone">relationship : </label>
                                {{form.relationship_status}}

                            </td>
                            <td>
                                <label for="phone">Phone : </label>
                                {{form.phone}}

                            </td>
                            <td>
                                <label for="phone">zipcode : </label>
                                {{form.zipcode}}

                            </td>
                        </tr>
                    </table>

                </fieldset>
            </div>
            <div class="edudetailsdiv" id="edudetailsdiv" style="display: none;">
                <fieldset style="width: 50%;">
                    <legend><b>Education Details</b></legend>
                    <table id="education" class="eduaction">                        
                        <tr class="edu">
                            <input type="hidden" name="edudetailid"  value="">
                            <td><label for="boardname">Name of board :</label></td> 
                            <td>{{form2.boardname}}</td>
                            <td> <label for="passingyearssc"> Passing Year :</label></td> 
                            <td>{{form2.passingyear}}</td>
                            <td> <label for="percentagessc"> Percentage :</label></td> 
                            <td>{{form2.percentage}}</td>
                        </tr>
                    </table>
                    <input type="button" value="+" onclick="addrowdata()">
                    <input type="button" value="-" onclick="removerow()">
                </fieldset>
                
            </div>
            <div class="workdwtailsdiv" id="workdwtailsdiv" style="display: none;">
                <fieldset style="width: 50%;">
                    <table class="worktable">
                        <legend><b>Work Experience</b></legend>
                        <tr class="work">
                            <input type="hidden" name="workid"  value="">
                            <td><label for="companyname1">Company Name</label></td>
                            <td>{{form3.compname}}</td>
                            <td><label for="designation1">Designation</label></td>
                            <td>{{form3.designation}}</td>
                            <td><label for="from">From</label></td>
                            <td>{{form3.durationfrom}}</td>
                            <td><label for="to">To</label></td>
                            <td>{{form3.durationto}}</td>
                        </tr>
            
                    </table>
                    <input type="button" value="+" onclick="addrowdatawork()">
                    <input type="button" value="-" onclick="removerowwork()">
                </fieldset>
            </div>
            <div class="langdetailsdiv" id="langdetailsdiv" style="display: none;">
                <fieldset style="width: 50%;">
                    <table>
                        <legend><b>Language Known</b></legend>
                        <tr>
                            <input type="hidden" name="lanid"  value="">
                            <td><input type="checkbox" id="hindi" name="language[]" value="hindi"></td>
                            <td><label for="hindi">Hindi</label></td>
                            <td>{{form4.readfluency}}</td>
                            <td><label for="read">read</label></td>
                            <td>{{form4.writefluency}}</td>
                            <td><label for="write">write</label></td>
                            <td>{{form4.speakfluency}}</td>
                            <td><label for="speak">speak</label></td>
                            <td><div id="hindierror" style="color: red;"></div></td>
                        </tr>
                        <tr>
                            <input type="hidden" name="lanid"  value="">

                            <td><input type="checkbox" id="english" name="language[]" value="english"></td>
                            <td><label for="english">English</label></td>
                            <td>{{form4.readfluency}}</td>
                            <td><label for="read">read</label></td>
                            <td>{{form4.writefluency}}</td>
                            <td><label for="write">write</label></td>
                            <td>{{form4.speakfluency}}</td>
                            <td><label for="speak">speak</label></td>
                            <td><div id="engerror" style="color: red;"></div></td>
                        </tr>
                        <tr>
                            <input type="hidden" name="lanid"  value="">

                            <td><input type="checkbox" id="gujarati" name="language[]" value="gujarati"></td>
                            <td><label for="gujarati">Gujarati</label></td>
                            <td>{{form4.readfluency}}</td>
                            <td><label for="read">read</label></td>
                            <td>{{form4.writefluency}}</td>
                            <td><label for="write">write</label></td>
                            <td>{{form4.speakfluency}}</td>
                            <td><label for="speak">speak</label></td>
                            <td><div id="gjerror" style="color: red;"></div></td>
                        </tr>

                    </table>
                </fieldset>
            </div>
            <div class="techdetailsdiv" id="techdetailsdiv" style="display: none;">
                <fieldset style="width: 50%;">
                    <table>
                        <legend><b>Technology You Known</b></legend>
                        <tr>
                            <input type="hidden" name="techid"  value="">
                            <td>{{form7.techvalue}}</td>
                            <td><label>Php</label></td>
                            <td>{{form7.techproficiency}}</td>
                        </tr>
                        <tr>
                            <input type="hidden" name="techid"  value="">
                            <td>{{form7.techvalue}}</td>
                            <td><label for="mysql">Mysql</label></td>
                            <td>{{form7.techproficiency}}</td>
                        </tr>
                        <tr>
                            <input type="hidden" name="techid"  value="">
                            <td>{{form7.techvalue}}</td>
                            <td><label for="laravel">Laravel</label></td>
                            <td>{{form7.techproficiency}}</td>
                        </tr>    
                        <tr>
                            <input type="hidden" name="techid"  value="">
                            <td>{{form7.techvalue}}</td>
                            <td><label for="oracle">Oracle</label></td>
                            <td>{{form7.techproficiency}}</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="referencediv" id="referencediv" style="display: none;">
                <fieldset style="width: 50%;">
                        <table id="references" class="referencetable">

                            <legend><b>Reference Contact</b></legend>
                            <tr class="reference">
                                <input type="hidden" name="refid"  value="">

                                <td><label for="companyname">Name </label></td>
                                <td>{{form5.name}}</td>
                                <td><label for="contactnumber">Contact Number</label></td>
                                <td>{{form5.phone}}</td>
                                <td><label for="relation">Relation </label></td>
                                <td>{{form5.relation}}</td>
                            </tr>
                        </table>
                        <input type="button" value="+" onclick="addrowdatareference()">
                        <input type="button" value="-" onclick="removerowreference()">
                </fieldset>
            </div>
            <div class="preferencediv" id="preferencediv" style="display: none;">
                <fieldset style="width: 50%;">
                    <table class="table">
                        <legend><b>preferences</b></legend>
                        <tr>
                            <input type="hidden" name="preferenceid"  value="">
                            <td><label for="preferdlocation">Preferd Location:</label></td>
                            <td>{{form6.preferencelocation}}</td>
                            <td><label for="noticeperiod">Notice Period </label></td>
                            <td>{{form6.noticeperiod}}</td>

                            <td><label for="department">Department</label></td>
                            <td>{{form6.department}}</td>
                            <td><label for="expectedctc">Expected CTC</label></td>
                            <td>{{form6.expectedctc}}</td>
                            <td><label for="currentctc">Current CTC </label></td>
                            <td>{{form6.currentctc}}</td>
                        </tr>
                    </table>
                    
                </fieldset>
            </div>
        </center>   
        <div class="submitclass" style="justify-content: center;
        display: flex;">



</div>
</form>
<a href="{% url 'logout' %}">Logout</a>
<div class="np" style="text-align: center;">
    <input type="button" value="previous" id="pre" onclick="previous()" disabled>
    <input type="button" value="next" id="nex" onclick="next()">
    <input type="button" class="btn btn-primary" value="submit" id="submit" onclick="add()" hidden>

    </div>

</body>
</html>