{% extends "base.html" %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "app1/challenge.css" %}">
    <link rel="stylesheet" href="{% static "app1/includes/header.css" %}">           
           
{%endblock%}
{% block page_title %} {{ month_name }} challenges {%endblock%}

{% block content%}
    {% include "app1/includes/header.html" %}

    <h1>{{ month_name }} challenges  </h1>
    {% if text is not None%}
        <h2>{{ text | title }}</h2>
    {% else %}
        <p class="fallback">There is no challenge</p>
    {% endif %}
{%endblock%}
